{% extends 'base.html' %} 
{% load static %}
{% block content %}

 <h1>Business Detail</h1>
{% for business in business %}
{% if business.verified == True%}
<div class="row">
{% comment %} Cat Card {% endcomment %}
   <div class="col s6">
    <div class="card">
      <div class="card-content">
      <span class="card-name">{{ business.name }}</span>
      <p>Address_1: {{ business.address_1 }}</p>
      <p>Address_2: {{ business.address_2 }}</p>
      <p>City: {{ business.city }}</p>
      <p>State: {{ business.state}}</p>
      <p>Zipcode: {{ business.zipcode}}</p>
      <p>State: {{ business.state}}</p>
      <p>Phone_number: {{ business.phone_number}}</p>
      <p>Description: {{ business.description }}</p>
      <p>Email: {{ business.email }}</p>
      <p>Website: {{ business.website }}</p>
      <p>verified: {{business.verified}}</p> 
      
       {% endif %} 
     </div> 
     </div>  

      

     </div> 
    </div>  
{% endfor %}
<div class="row"
<h1>Reviews </h1>
{% for review in reviews %}

  <div class="card">
    <div class="card-content">
  
    <div class="card-content">
      
      <p>Business: {{ review.business }}</p>
      <p>title: {{ review.title }}</p>
      <p>Review: {{ review.review }}</p>
      <p>created_at: {{review.created_at}}</p>
      <p>updated_at: {{review.updated_at}}</p>
      
    </div>
     <div class="card-action">
        <a href="{% url 'review_edit' review.id %}" class="btn black">Edit a review</a>
        <a href="{% url 'review_delete' review.id %}" class="btn black">Delete a review</a>
      </div> 
<div>
</div>
    </div>
{% endfor %}
{% endblock%}
