{% extends 'base.html' %}
{% load static %}
{% block content %}


<h1>About the Noir Guide</h1>


<div class="row"
<h1>Welcome to the Noir Guide! </h1>

<div class="card">
    <div class="card-content">

<p>Help us Diversify the face of Entreneurship! Black owned business have grown tremendously
      over the years! Many people of all races want to help the African American community but know
      know why or where to start! The Norir Guide is here to give you reasons and resources with reviews from
      consumers like you!Our goal is to
      <ul>
      <li> 1. Close the Racial Wealth Gap</li>
      <li> 2. Strengthen local Economies</li>
      <li> 3. Foster Job Creation</li>
      <li> 4.Celebrate Black culture</li>
      <li> 5. Hold other Companies Accoutable</li>
      <li> 6.Visibility and Representation in the Green Economy</li>


</p> Look out for our form where you to can submit a business than be be reviewd in New York and soon
in an area near you! Thanks for stopping by! </p>

  <div class="card-content">

 {% for review in reviews %}

  

      
      </ul>
      </p>
      
    </div>
     <div class="card-action"> 

<p>Review a black owned business!</p>

{% endfor %}
{% endblock %}