<div class="card">
  <!-- add this single line below -->
  <a href="{% url 'detail' business.id %}">
    <div class="card-content">
      <span class="card-name">{{ business.name }}</span>
      <p>Address: {{ business.address1 }}</p>
      <p>Address: {{ business.address2 }}</p>
      <p>City: {{ business.address }}</p>
      <p>state: {{ business.address1 }}</p>
      <p>Description: {{ business.description }}</p>
      {% if cat.age > 0 %}
        <p>Age: {{ cat.age }}</p>
      {% else %}
        <p>Age: Kitten</p>
      {% endif %}
    </div>
  <!-- and this following one as well -->
  </a>
</div>