{% extends 'base.html' %}
{% block content %}
<div class="row"
<h1>Reviews </h1>
{% for review in review %}

  <div class="card">
    <div class="card-content">
  <a href="{% url 'business_detail' business.id%}">
    <div class="card-content">
      <span class="card-name">{{ business.name }}</span>
      <p>Business: {{ review.business }}</p>
      <p>title: {{ review.title }}</p>
      <p>Review: {{ review.review }}</p>
      <p>created_at: {{review.created_at}}</p>
      <p>updated_at: {{review.uodated_at}}</p>
      {% comment %} {% else %} {% endcomment %}
        {% comment %} <p>business.verified == false</p> {% endcomment %}
      {% endif %}
    </div>
     <div class="col s3">
    <form action="{% url 'review_index' %}" method="POST">
    
        {% csrf_token %}
        {{ review_form.as_p }}
        <input class="btn" type="submit" value="Delete a review">

    </form>
  </div>
  </a> 
</div>
{% endfor %}
{% endblock%}




